* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {
    position: absolute;
    top: 0; left:0;
    width: 100%;
    height: 100%;
    background-color: white;
}
#canvas2 {
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1000px;
    width: 500px; 

}